*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app-product-release.apk
app/product/release/output-metadata.json
app/product/release/baselineProfiles/0/app-product-release.dm
app/product/release/baselineProfiles/1/app-product-release.dm
