<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:theme="@style/Theme.BaseMVVM"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required"
            tools:replace="android:value" />
        <meta-data
            android:name="android.supportsLocales"
            android:value="en,de,en-rUS,es,fr,hi,in,pt" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
        
        <activity android:name=".ui.onboard.OnboardingActivity" />
        <activity android:name=".ui.start.StartActivity" />
        <activity android:name=".ui.rada.RadaActivity" />
        <activity android:name=".ui.permission.RequestPermissionActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.language.LanguageActivity" />
        <activity android:name=".ui.privacy.PrivacyPolicyActivity" />
        <activity android:name=".ui.internet.ErrorConnectionActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>